.transaction-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10rem;
    min-width: 60vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    /* background-color: rebeccapurple; */
    flex-direction: row;color: black;
  }
  
  .add-transaction {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .add-transaction h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .add-transaction form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .add-transaction input, .add-transaction select, .add-transaction button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-transaction button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-transaction button:hover {
    background-color: #388e3c;
  }
  
  .transaction-list {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-y: auto;
  }
  
  .transaction-list h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .transaction-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-list li {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .transaction-list li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .transaction-list li button:hover {
    background-color: #d32f2f;
  }